
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');


.dropdown-menu{
    background: rgba(253, 253, 253, 0.8);
}
.dropdown-menu a{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: 'Patua One', cursive;
}



/*FOOTER*/
.footer{
    border: 30px;
    margin-top: 30px;
    align-self: flex-end;
    width: 100%;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    color: black;
    background: #DFDFDF;
    border-top: 4px solid #117a8b;
}

